Password expired on host not triggering PasswordUpdateProvider 

Hi

I'm trying to add handling for password expiry to my app using following approach...

>List<AuthMethod> authMethods = new ArrayList<>();
MyPasswordFinder passwordFinder = new MyPasswordFinder(password);
MyPasswordUpdateProvider newPasswordUpdateProvider = new MyPasswordUpdateProvider();
AuthPassword ap = new AuthPassword(passwordFinder, newPasswordUpdateProvider);
>
>authMethods.add(ap);
>
>ssh.auth(username, authMethods);

The user has password expired (as can be seen from linux ssh) 

>$ ssh user2@host01
user2@host01's password:
You are required to change your password immediately (root enforced)
Last login: Fri Sep 21 13:23:52 2018 from host01
WARNING: Your password has expired.
You must change your password now and login again!
Changing password for user user2.
Changing password for user2.
(current) UNIX password: `

However when connecting to a Centos 7 host running (openssh-7.4p1-12.el7_4.x86_64) the PasswordUpdateProvider.provideNewPassword does not get called, but the "auth" request returns without an exception - using the connection then fails later.  

As far as I can see AuthPassword.handle does not appear to get called.

Am I setting the PasswordUpdateFinder correctly?






An SSCCE can be found at [bitbucket repo](https://bitbucket.org/dhubbard_ic/sscce-sshj-passwordchange.git)

It seems that your server is not returning `USERAUTH_PASSWD_CHANGREQ` (PacketType 60) on the login attempt. This is the only way to correctly trigger password updates for automated connections.
You're dropped into a shell with `passwd` as the command, which allows you to interactively change your password. 

Any idea how I might enable with OpenSSH ?   I'm slightly unclear why another openssh host connecting in does see the expiry?

There is a difference... sshj handles a password change on the protocol level, as described in https://tools.ietf.org/html/rfc4252 section 8.

However your ssh server is not doing that, rather it is letting you login using the old password, and then drops you into a shell with `passwd` as the executing command (instead of /bin/bash). This is different from a protocol level password expiry.

For reference (although potentially not definitive) I found [this](https://blog.tankywoo.com/linux/2013/09/14/ssh-passwordauthentication-vs-challengeresponseauthentication.html)  which indicates 

> PasswordAuthentication controls support for the 'password' authentication scheme defined in RFC-4252 (section 8). 
> ChallengeResponseAuthentication controls support for the 'keyboard-interactive' authentication scheme defined in RFC-4256.

But setting this still doesn't use the PasswordUpdateProvider :

```
PasswordAuthentication yes
ChallengeResponseAuthentication no
AuthenticationMethods password

```

I'm still looking into this.  I have confirmed your point @hierynomus that no USERAUTH_PASSWD_CHANGREQ (PacketType 60) is sent from OpenSSH server.

After a bit of OpenSSH debugging I have posted a question on [OpenSSH mailing list](https://lists.mindrot.org/pipermail/openssh-unix-dev/2018-September/037224.html).   

Can I ask what SSHD implementation SSHJ password expiry handling is tested against for RFC4252 ?  



Our current tests are against Apache Mina SSHD, which adheres to the RFC in this regard.

Thanks I will try that out - and will post back if/when I get a resolution on the OpenSSH side

I have had a response to my question on [OpenSSH mailing list](https://lists.mindrot.org/pipermail/openssh-unix-dev/2018-September/037227.html)

Basically the password change handling (RFC4252) is not implemented in OpenSSH with PAM due to (depending on your view) either restrictions of PAM or limited support for server-side control of password rules specified in the RFC.   As running without PAM is not supported on any RHEL variant (incl. Oracle Enterprise Linux [OEL] and Centos) it would appear this is a limitation that apps using SSHJ may have to work around.

In my use case it is fairly usual on (say) new user setup for a user to be created with an expired password enforced (change on first use) and therefore the initial SSHJ connection will connect ok, and need to be handle password expiry before doing anything useful with the connection.  

I have managed to work round this by using an SSH Session and [ExpectIt](https://github.com/Alexey1Gavrilov/ExpectIt).   For anyone hitting the same issue, an example is included with SSCCE  at [https://bitbucket.org/dhubbard_ic/sscce-sshj-passwordchange.git](https://bitbucket.org/dhubbard_ic/sscce-sshj-passwordchange.git).  